---
import config from "urodele.config";
---

<footer class="mt-8 mb-16 flex justify-center">
  <small class="w-full max-w-[720px] min-h-12 flex justify-center items-center text-muted">
    <a href={config.footer.copyrightUrl} target="_blank" class="no-underline" style="color: inherit;">
      {config.footer.copyright}
    </a>
  </small>
</footer>
